PORT=

NODE_ENV=local

APP_URL=

SPOTIFY_CLIENT_ID=

SPOTIFY_CLIENT_SECRET=

SPOTIFY_REDIRECT_URI=

SPOTIFY_REFRESH_TOKEN=

SPOTIFY_API_BASE_URL=

SPOTIFY_PLAYLIST_ID=

DISCORD_BOT_TOKEN=

DISCORD_USER_ID=

